*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: flex;
  min-height: 80vh; }
  .container__row {
    display: flex;
    flex-direction: column;
    flex: 0 0 95vw; }

.sidebar {
  background-color: red;
  flex: 0 0 5vw; }

.header {
  display: flex;
  flex: 0 0 80vh; }
  .header__main {
    flex: 0 0 65vw;
    background-color: orange; }
  .header__retalors {
    flex: 1;
    background-color: green; }

.gallery {
  flex: 0 0 80vh;
  background-color: brown; }

.features {
  background-color: blue;
  flex: 0 0 95vh; }

.story {
  display: flex;
  flex-direction: row;
  flex: 0 0 80vh; }
  .story__pictures {
    flex: 50%;
    background-color: orchid; }
  .story__content {
    flex: 50%;
    background-color: aqua; }

.homes {
  flex: 0 0 150vh;
  background-color: lightslategray; }

.footer {
  flex: 0 0 45vh;
  background-color: greenyellow; }
