*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: flex;
  min-height: 80vh; }
  .container__row {
    display: flex;
    flex-direction: column;
    flex: 0 0 95vw; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  margin-left: 0; }

.sidebar {
  background-color: red;
  flex: 0 0 5vw; }

.header {
  display: flex;
  flex: 0 0 80vh; }
  .header__main {
    flex: 0 0 65vw;
    background-color: #f9f7f6; }
  .header__retalors {
    flex: 1;
    background-color: green; }

.gallery {
  flex: 0 0 80vh;
  background-color: brown; }

.features {
  background-color: white;
  flex: 0 0 95vh;
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex: 0 0 20vw; }

.feature {
  flex: 0 0 20vw;
  margin: 6rem;
  display: flex; }
  .feature__typing {
    display: flex;
    flex-direction: column; }
  .feature__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid black;
    margin-right: 0rem; }
  .feature__text {
    font-size: 1.7rem;
    color: black;
    margin-top: 3rem;
    margin-left: 3rem; }

.story {
  display: flex;
  flex-direction: row;
  flex: 0 0 80vh; }
  .story__pictures {
    flex: 50%;
    background-color: orchid; }
  .story__content {
    flex: 50%;
    background-color: aqua; }

.homes {
  flex: 0 0 150vh;
  background-color: lightslategray; }

.footer {
  flex: 0 0 45vh;
  background-color: greenyellow; }
