.features{
    
    margin: 15rem 8rem;

    flex: 0 0 95vh;
    display: flex;
    flex-direction: column;
    
    
}

.feature{
    
    margin: 6rem;

    flex: 1 1 25rem;    
    display: flex;

    &__typing{
        display: flex;
        flex-direction: column;
        margin-left: 2rem ;
        font-size: 1.7rem;
    }


    &__icon{
        fill: $color-primary;
        width: 8.5rem;
        height: 8.5rem;
       
        transform: translateY(-1rem);
    }
        svg {
            fill: $color-primary;
            width: 18.5rem;
            height: 4.5rem;
        }    

    &__text{
        font-size: 1.7rem;         
    }
    
}
