.features{
    
 

    flex: 0 0 95vh;
    display: flex;
    flex-direction: column;
    
    
}

.feature{
    
    width: 33.3333%;
    margin: 6rem;

    flex: 0 0 20vw;    
    display: flex;

    &__typing{
        display: flex;
        flex-direction: column;
    }


    &__icon{
        fill: $color-primary;
        
        
        transform: translateY(-1rem);

        svg {
            fill: $color-primary;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
        }
    }

    &__text{
        font-size: 1.7rem;
         
    }
    
    
}