.homes{
    flex: 0 0 150vh;
    
}

.home {
    background-color: $color-grey-light-1;
    margin: 4rem;  
    display: flex;
    flex-direction: column;
    align-items: center; 

    &__img {
        width: 100%;        
        z-index: 1;
        position: relative;
    }

    &__like {     
        position: absolute;  
        fill: $color-primary;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 22;
        justify-self: end;
        margin: 1rem;
        top: 1rem;
        right: 1rem;
    }

    &__name {
        position: absolute;
        z-index: 30;
        width: 20%;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: #fff;
        font-weight: 400;
        margin-top: 24rem; 
        margin-left: 1rem;      
        
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {

        font-size: 1.5rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;

        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
    }

    &__btn {
  
    }
}