.homes{
flex: 0 0 150vh;    
margin: 15rem;

display: flex;
flex-wrap: wrap;
gap: 7rem;

}

.home {
background-color: $color-grey-light-1;
z-index: -6;
width: 32rem;
height: 45rem;

&__img {
    width: 32rem;
    position: absolute;
    
    z-index: -1;
}

&__like {
    position: relative;
    top: 0;
    right: 0;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
}

&__name {
    position: relative;
    margin-left: 2.5rem;
    margin-top: 12rem;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
}

&__discription{
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


&__location,
&__rooms {
    margin-top: 2.5rem;
}

&__location,
&__rooms,
&__area,
&__price {

    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;  
    align-items: center;


    svg {
        fill: $color-primary;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }
}

&__btn {
     margin-left: 4.5rem;
}

}