.story{
    
    display: flex;
    flex-direction: row;
    flex: 0 0 80vh;;
    &__pictures{
        flex: 50%;
        background-color: orchid;
    }
    &__content{
        flex: 50%;
        background-color: aqua;
    }
}