.heading-4{
    font-family: $font-display;
    font-size: 1.9rem;
    font-weight: 400;
   margin-left: 0;
}
.heading-2{
    font-family: $font-display;
    font-weight: 400;
    font-size: 4rem;
    font-style: italic;

}
.heading-3{
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-1{
    font-family: $font-display;
    font-weight: 400;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}


.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}